body {
  /* margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: rgb(230, 227, 223);
  font-family: "Poppins", sans-serif;
}

.headerred {
  height: 250px;
  background-image: url("https://o-cdf.sirclocdn.com/unsafe/cdn-omp.orami.co.id/media/banners/HOMEPAGE_1000X500lowres_copy_1.png");
}
.cardMenu {
  position: relative;
  bottom: 50px;
}

.cardMenu img {
  height: 50px;
}
.cardMenu p {
}

.cardBooking img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.compslide {
  height: 200px;
  object-fit: cover;
  position: relative;
  bottom: 70px;
  border: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
